.big-hex{
    cursor: pointer;
    width: 30em;
    filter:grayscale(1)
}

.big-hex:hover{
    filter:grayscale(0)
}

.ab-main-cont{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.ab-2-left-imgs{
    position: relative;
}

.hex-1{
    position: absolute;
    left: -6em;
    top: -9em;
}

.ab-2-right-imgs{
    /* position: absolute; */
}

