.nav {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    width: 100%;
    max-height: 100%;
    background-color: white;
    min-width: 1200px;
}

.nav__btn {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 250;
    padding: 2em;
    padding-top: 3em;
    margin-right: 1rem;
    text-align: center;
    background-color: white !important;
    color: rgba(0, 0, 0, 0.781) !important;
}

