.nav {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    width: 100%;
    max-height: 100%;
    background-color: white;
}

.nav__btn {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 250;
    padding: 2%;
    padding-top: 4%;
    margin-right: 1%;
    text-align: center;
    background-color: white !important;
    color: rgba(0, 0, 0, 0.781) !important;
}

